<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="factfinder_export" translate="label" sortOrder="900">
            <label>FACT-Finder</label>
        </tab>
        <section id="factfinder_export" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>FACT-Finder Export</label>
            <tab>factfinder_export</tab>
            <class>ff-export-config-tab</class>
            <resource>Factfinder_Export::config</resource>
            <include path="Factfinder_Export::system/general.xml" />
            <include path="Factfinder_Export::system/data_transfer.xml" />
            <include path="Factfinder_Export::system/export.xml" />
            <include path="Factfinder_Export::system/basic_auth.xml" />
            <include path="Factfinder_Export::system/cron.xml" />
        </section>
    </system>
</config>
